<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小米账号-登录</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="../index.html"><img src="../images/login/logo.png" alt=""></a>
        </div>
    </div>

    <div class="wrap">
        <div class="layout_panel">
            <div class="layout">
                <div class="form-panel">
                    <div class="nav_tabs_panel">
                        <div class="nav-tabs">
                            <a href="javascript:;" class="navtab-link now">帐号登录</a>
                            <span class="line"></span>
                            <a href="javascript:;" class="navtab-link">扫码登录</a>
                        </div>
                    </div>
                    <!-- 账号登录 -->
                    <div class="tabs-con now">
                        <div class="login">

                            <div class="pwdLogin">
                                <input type="text" class="item_account" name="username" id="username" placeholder="用户名">
                                <input type="password" class="item_account" name="password" id="password" placeholder="密码">
                            </div>

                            <div class="btns">
                                <input type="button" class="btnadpt" name="" id="" value="登录">
                            </div>

                            <div class="other_panel">
                                <a href="javascript:;" class="login_type_link">手机短信登录/注册</a>
                            </div>
                        </div>
                    </div>
                    <!-- 扫码登录 -->
                    <div class="tabs-con">
                        <p>请使用小米手机/米家等小米旗下APP扫码登录</p>
                        <img src="../images/login/wechat.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/jquery/jquery.min.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/login.js"></script>
</body>
</html>